/* tornar mto maior para celular */

#boxCursorLingFerr{
    height: 20px;
    width: 31vw;

    background-color: beige;
    border-radius: 1rem;
    position: relative;

    display: flex;
    align-items: center;

    z-index: 0;
}

/* Estilos para dispositivos com toque "grosso" (ex: dedos) */
@media (pointer: coarse) {
    #boxCursorLingFerr{
        height: 48px;
    }

    #cursorLingFerr{
        --altura: 75px !important;
    }
}

#cursorLingFerr{
    --altura: 40px;
    /* --altura: 200%; */
    /* 3.5vw */

    height: var(--altura);
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: rgb(23, 23, 23);

    position: absolute;

    left: calc(50% - var(--altura)/2); 
    
    transition: background-color 0.2s linear;

    
    display: flex;
    align-items: center;
}

#decoracaoCursorLF{
    -webkit-user-drag: none;
    user-select: none;

    --altura: 120%;

    height: var(--altura);
    aspect-ratio: 1/1;

    border-radius: 100%;
    background-color: #696969;
    z-index: -1;

    position: absolute;
    left: calc(50% - var(--altura)/2);
    
    transition: background-color 0.2s linear;
} 

#espacoExtraLF{
    width: 120%;
    height: 250%;

    -webkit-user-drag: none;
    user-select: none;
}

@media screen and (max-width: 700px) {
    #boxCursorLingFerr{
        width: 40vw;
    }
}

@media screen and (max-width: 400px) {
    #boxCursorLingFerr{
        width: 55vw;
    }
    #cursorLingFerr{
        --altura: 60px !important;
    }
}

@media screen and (max-width: 190px) {
    #boxCursorLingFerr{
        width: 80vw;
    }
}

/* o q fazer nesse ponto? */
@media screen and (max-width: 100px) {
    #boxCursorLingFerr{
        width: 80vw;
    }
    /* mudar tamanho do curor */
}