:root{
    --principal: #0e88eb;

}

* {
    padding: 0;
    margin: 0;

    font-family: "Open Sans", sans-serif;

    cursor: none;
}

body{
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0.9vw;
    background: antiquewhite;
}
::-webkit-scrollbar-thumb {
    background: #696969;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #0e88eb;
}

.cursores{
    pointer-events: none;
    aspect-ratio: 1 / 1;
    position: fixed;
    z-index: 50;

    background: transparent;
    backdrop-filter: invert(1);

    border-radius: 100%;

    top: -100%;
    left: -100%;
}

#cursor {
    width: 2vw;
    transition: translate 0.5s linear;
} 

#smallerCursor{
    width: 1vw;
}


a {
    text-decoration: none;
}