#content{
    display: flex;
    flex-direction: column;
}

body{
    overflow-x: hidden;
}

.secao{
    height: 100vh;
    width: 100%;

    background-color: black;
    border-bottom: 1px white solid;
}

.waveDOWN {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waveDOWN svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 45px;
}

.waveDOWN .shape-fill {
    fill: #000000;
}

#introducao {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    transition: all 0.1s linear;
    /* ANOTAÇÃO! Usar transform rotate pq ele é irado!  */

    border: 0;
}

#logoMovivel {
    height: 80%;
    position: absolute;
    top: 50vh;
    right: 0vw;
    z-index: 1;

    translate: 0% -40%;

    -webkit-user-drag: none;
    user-select: none;

    transition: transform 0.15s 0s linear, top 0.15s 0s linear;
}

/* atenção, a distância da imagem para o topo da tela depende do tamanho da própria imagem, por isso se subtrai a metade de sua altura no translate */


#introducao #nome, #hello, #introdutorio {
    animation-name: showFirst;
    animation-duration: 1.5s;
    animation-delay: 0.1s;
    z-index: 2;
}


@keyframes showFirst{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

#boxNome{
    display: flex;
    height: 42vh;
    align-items: flex-end;
}

#introducao #nome{
    color: aliceblue;
    font-size: 7vmin;
    text-align: center;

    font-weight: 500;
}

#hello {
    /* Add styles for the text */
    font-size: 6vmin;
    font-family: monospace;
    color:rgb(11, 181, 11);

    white-space: pre-wrap;

    margin-top: 2%;
    margin-bottom: 2%;
}

#hello::after {
    content: ' ';
    position: relative;
    top: 0;
    right: 0;
    display: inline-block;
    width: 4px;
    height: 100%;
    background-color: rgb(11, 181, 11);

    animation-name: blink;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    
    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


#introdutorio {
    color: aliceblue;
    width: 28%;
    /* text-wrap: balance; */
    text-align: justify;

    font-size: 3vmin;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
#divisor1para2 .shape-fill  {
    fill: #181818;
}

#bio{
    background-color: #181818;
}

#bioTextoBox{
    margin: 0vh 0 0 5vw;
    position: absolute;
    z-index: 2;

    color: aliceblue;
}

#bioTitulo{
    font-size: 10vmin;

    background: linear-gradient(to right, rgb(237 77 0), rgb(225 255 0), rgb(237 77 0));
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important; /*sem isso fica bonito tbm*/

    background-size: 50%;

    /* animation-name: mudarFundoLetra;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite; */
    animation: mudarFundoLetra 1s 0.3s linear infinite;

    margin-bottom: 1.5vh;

    height: 25vh;
    display: flex;
    align-items: flex-end;
}

@keyframes mudarFundoLetra{
    from{
        background-position: 0%;
    }
    to{
        background-position: 100%;

    }
}

#respostasBio{
    margin-bottom: 3vh;
    font-size: 2.6vmin;
}

#bioTexto{
    font-size: 2.5vmin;
    width: 62%;
    text-align: justify;
    height: 1vh;
}

.letras-da-palavra{
    white-space: pre-wrap;
}

.letraPulando{
    animation: pularLetra 0.6s 0.3s ease-in-out;
    white-space: pre-wrap;
}

@keyframes pularLetra {
    0%{
        margin-bottom: 0vh;
    }
    50%{
        margin-bottom: 4vh;
    }
    100%{
        margin-bottom: 0vh;
    }
}