/* header logo movível e cores dos projetos estão deixando o site cortado */
/* custom shape divider class */
/* resolução provisória: */
html{
    overflow-x: hidden;
}

#content{
    display: flex;
    flex-direction: column;

    width: 100vw;
}

.secao{
    height: 100vh;
    width: 100%;

    background-color: black;
    position: relative;
}

.waveDOWN {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waveDOWN svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 45px;
}

.waveDOWN .shape-fill {
    fill: #000000;
}

#introducao {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    transition: all 0.1s linear;
    /* ANOTAÇÃO! Usar transform rotate pq ele é irado!  */

    border: 0;
}

#listaContatoIntroducao{
    position: absolute;
    bottom: 39%;
    left: 0;
    z-index: 2;

    height: 19vh;

    padding: 0.5%;
    padding-left: 0.45%;
    padding-right: 0.45%;

    background-color: #cabeca47;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;

    border-radius: 0% 1rem 1rem 0%;
}


#listaContatoIntroducao a, #listaContatoIntroducao img{
    height: 6vh;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

#logoMovivel {
    height: 80%;
    position: absolute;
    top: 50vh;
    right: 0vw;
    z-index: 1;

    translate: 0% -40%;

    -webkit-user-drag: none;
    user-select: none;

    transition: transform 0.15s 0s linear, top 0.15s 0s linear;
}

/* atenção, a distância da imagem para o topo da tela depende do tamanho da própria imagem, por isso se subtrai a metade de sua altura no translate */


#introducao #nome, #hello, #introdutorio {
    animation-name: showFirst;
    animation-duration: 1.5s;
    animation-delay: 0.1s;
    z-index: 2;
}


@keyframes showFirst{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

#boxNome{
    display: flex;
    height: 42vh;
    align-items: flex-end;
}

#introducao #nome{
    color: aliceblue;
    font-size: 7vmin;
    text-align: center;

    font-weight: 500;
}

#hello {
    /* Add styles for the text */
    font-size: 6vmin;
    font-family: monospace;
    color:rgb(11, 181, 11);

    white-space: pre-wrap;

    margin-top: 2%;
    margin-bottom: 2%;
}

#hello::after {
    content: ' ';
    position: relative;
    top: 0;
    right: 0;
    display: inline-block;
    width: 4px;
    height: 100%;
    background-color: rgb(11, 181, 11);

    animation-name: blink;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    
    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


#introdutorio {
    color: aliceblue;
    width: 28%;
    /* text-wrap: balance; */
    text-align: justify;

    font-size: 3vmin;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* lembrete: há como optimizar esse código, so rodar palvras quando observado (calcular posição mesmo fora?) */
/* melhorar classes e ids dos textos alternantes */

#divisor1para2 .shape-fill  {
    fill: #181818;
}

#bio{
    background-color: #181818;
    height: 95vh;
    position: relative;
}

#bioTextoBox{
    margin: 0vh 0 0 5vw;
    position: relative;
    z-index: 2;

    color: aliceblue;
}

#bioTitulo{
    font-size: 10vmin;

    background: linear-gradient(to right, rgb(237 77 0), rgb(225 255 0), rgb(237 77 0));
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important; /*sem isso fica bonito tbm*/

    background-size: 50%;

    /* animation-name: mudarFundoLetra;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite; */
    animation: mudarFundoLetra 1s 0.3s linear infinite;

    margin-bottom: 1.5vh;

    height: 25vh;
    display: flex;
    align-items: flex-end;
}

@keyframes mudarFundoLetra{
    from{
        background-position: 0%;
    }
    to{
        background-position: 100%;

    }
}

#respostasBio{
    margin-bottom: 3vh;
    font-size: 2.6vmin;
}

#bioTexto{
    font-size: 2.8vmin;
    width: 55%;
    text-align: justify;
}

#textoChique{
    font-weight: 600;
}

.letras-da-palavra{
    white-space: pre-wrap;
}

.letraPulando{
    animation: pularLetra 0.6s 0.3s ease-in-out;
    animation-delay: 0.5s;
    white-space: pre-wrap;
}

@keyframes pularLetra {
    0%{
        margin-bottom: 0vh;
    }
    50%{
        margin-bottom: 4vh;
    }
    100%{
        margin-bottom: 0vh;
    }
}

#tituloGosta, #tituloProgramaEm{
    display: flex;
}

/* palavrasAlternantes */

#gostosBox, #programaEmBox{
    display: flex;
    white-space: pre-wrap;
}

/* se quiser coloca overflow hidden */
.gostoMudavel, .programaMudavel{
    position: absolute;
    transform: rotateX(0deg);
    translate: 0 0;

    opacity: 0;

    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.ateMetade{
    animation-name: animaRotacionarMeio, animaMoverMeio;
    opacity: 1;
}

.ateSair{
    animation-name: animaRotacionarSair, animaMoverSair;
    opacity: 1;
}


/* entrar */

@keyframes animaRotacionarMeio {
    0% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0);
    }
}

@keyframes animaMoverMeio {
    0% {
        translate: 0 -2vh;
    }

    100% {
        translate: 0 0vh;
    }
}

/* sair */

@keyframes animaRotacionarSair {
    0% {
        transform: rotateX(360deg);
    }

    100% {
        transform: rotateX(270deg);
    }
}


@keyframes animaMoverSair {
    0%{
        translate: 0 0vh;
    }

    100% {
        translate: 0 2vh;
    }
}

/* ver classe wavedown evitar repetição corrigir */

#divisor2para3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#divisor2para3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
}

#divisor2para3 .shape-fill {
    fill: #232D35;
}

/* */

/* Linguagem e ferramentas */

/*  */

/* VER TAMANHO ADAPTÁVEL DA LUZ */

#linguagensEFerramentas{
    background-color: #232d35;

    display: flex;
    
    flex-direction: column;
    align-items: center;

    height: auto;
    padding-bottom: 20vh;
    /* corrigir height depois */
}

#tituloLinguagensEFerramentas{
    margin-top: 9vh;
    margin-bottom: 5vh;

    text-align: center;

    display: flex;
    align-items: center;

    width: 58vw;
    justify-content: space-between
}

#tituloLinguagensEFerramentas p{
    font-size: 3vmin;
}

#tituloLinguagensEFerramentas h1{
    font-size: 7vmin;
}

.corTituloLF{
    width: 2.3vw;
    aspect-ratio: 1/1;
}





#cardsLingFerrBox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
    /* max-width: 916px; */
    /* width: calc(100% - 20px); */
    width: 70vw;
    /* min-width: 300px; */

    /* justify-content: space-between;
    isso alinhava com o meio do título mas precisa ser substituído */

    margin-top: 8vh;
}

#cardsLingFerrBox:hover > .cardLingFerr::after {
    opacity: 1;
}

.cardLingFerr {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    
    /* width: 220px; */
    width: calc(25% - 6px);
    /* min-width: 170px; */
    /* min-width: 180px; */
    /* ajustar isso depois */

    aspect-ratio: 11 / 5;
}


.cardLingFerr:hover::before {
    opacity: 1;
}

.cardLingFerr::before,
.cardLingFerr::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.cardLingFerr::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    z-index: 3;
}

.cardLingFerr::after {  
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.4),
        transparent 40%
    );
    z-index: 1;
}

.cardLingFerr > .cardLingFerr-content {
    background-color: rgb(23, 23, 23);
    border-radius: inherit;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;

    align-items: center;

}
  
.lingFerrBoxImg{
    height: 60%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.lingFerrTitulo{
    color: #ffffff;
    font-size: 2rem;
    padding-left: 7%;

    width: 70%;
    height: 80%;

    display: flex;
    align-items: center;
}

.ferramentaLF{
    background-color: #171d30 !important;

}

.linguagemLF{
    background-color:  #121e1a !important;
}

.naoLinguagem .linguagemBoxLF{
    display: none;
}

.naoFerramenta .ferramentaBoxLF{
    display: none;
}



.custom-shape-divider-bottom-1715785997 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1715785997 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 49px;
}

.custom-shape-divider-bottom-1715785997 .shape-fill {
    fill: #000F1A;
}



/* idealmente maior que 160px, entretanto até 115px é aceitável */

@media screen and (max-width: 1000px) {
    #cardsLingFerrBox {
        width: 75vw;
    }
}

@media screen and (max-width: 850px) {
    #cardsLingFerrBox {
        width: 80vw;
        /* min-width: 300px; */
    }

    .cardLingFerr {
        width: calc(33% - 4px);
    }

}


@media screen and (max-width: 630px) {
    #cardsLingFerrBox {
        width: 75vw;
    }

    .cardLingFerr {
        width: calc(50% - 4px);
    }

}

@media screen and (max-width: 500px) {
    #cardsLingFerrBox {
        width: 80vw;
        /* min-width: 300px; */
    }
}

@media screen and (max-width: 350px) {

    /* a esse ponto fica inviável o modelo atual */
    #cardsLingFerrBox {
        width: 80vw;
        /* min-width: 300px; */
    }

    .cardLingFerr {
        width: calc(33% - 5px);
        aspect-ratio: 1;
    }

     
    .lingFerrBoxImg{
        height: 85%;
    }

    .lingFerrTitulo{
        display: none;
    }

    .cardLingFerr-content{
        justify-content: center;
    }
}

@media screen and (max-width: 280px) {
    .cardLingFerr {
        width: calc(50% - 4px);
        aspect-ratio: 1;
    }
}
 
@media screen and (max-width: 120px) {
    .cardLingFerr {
        width: calc(100%);
    }
}

/* @media screen and (max-width: 1500px) {
    #cardsLingFerrBox {
        width: 80vw;
        /* min-width: 300px; 
    }

    .cardLingFerr {
        width: calc(25% - 6px);
        min-width: calc(50% - 4px);
    }

} */

/* */

/* Projetos */

/*  */

#projetos{
    background-color: #000f1a;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* alterar depois */
    height: 120vh;
}

#cabecalhoProjetos{
    color: white;
    width: 55%;

    margin-top: 8%;
    margin-bottom: 8%;
}

#tituloProjetos{
    font-size: 10vmin;
    text-align: center;
    margin-bottom: 2%;
}

#descricaoProjetos{
    text-align: center;
}


#informativoProjetos{
    margin-bottom: 2%;
}

#boxCoresProjeto{
    display: flex;
    justify-content: space-around;
}

.associacaoCorTamProj{
    display: flex;
}

.corTamanhoProj{
    height: 100%;
    aspect-ratio: 1/1;

    margin-right: 18%;
}

.projcorLaranja{
    background-color: rgb(237 77 0);
}

.projcorAmarelo{
    background-color: yellow;
}

.projcorVerde{
    background-color: green;
}



/*  */

#boxCardsProj{
    width: 80%;

    position: relative;
    
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;

    gap: 2.5vh 2%;
}

.blocoProj{
    position: relative;
    width: 24vw;
    min-width: 100px;
    aspect-ratio: 2/1;
    height: fit-content;
}

.cardProjeto{
    width: 24vw;
    min-width: 100px;

    aspect-ratio: 2/1;
    background-color: #57565f;

    border-radius: 1rem;

    position: absolute;
    overflow: hidden;

    transition: all ease 0.7s, border 0s, z-index cubic-bezier(0, 0.67, 0.25, 1) 0.7s;

    z-index: 1;
}

.corIdentificadoraProj{
    height: 100%;
    width: 75%;
    position: absolute;
    rotate: 79deg;
    background: rgb(237 77 0);

    left: -45%;

    transition: 0.7s ease;
}

.tituloCardProj {
    width: 100%;
    height: 37%;

    z-index: 0;
    position: relative;

    transition: 0.7s ease;

}

.tituloCardProj p {
    font-size: 2.7rem;
    color: black;
    margin-left: 5%;

    transition: 0.7s ease;
}

.boxIconesProj{
    width: 80%;
    height: 18%;
    background-color: #4d4d4d;
    padding-left: 20%;
    display: flex;
    gap: 4%;

    transition: 0.7s ease;
}

.iconeProj{
    height: 100%;
    aspect-ratio: 1/1;

    background-size: cover;

    position: relative;
    z-index: 1;
}

.iconeJava{
    background-image: url(../src/java.png);
}

.iconeJS{
    background-image: url(../src/JS.png);
}

.textoProj{
    width: 76%;
    height: fit-content;
    max-height: 45%; 

    margin-left: 21%;
    color: black;

    font-weight: 600;
    
    transition: 0.7s ease;

    word-wrap: break-word;

    position: relative;
    z-index: 1;
}

/* hover */

.cardProjeto:hover{
    scale: 1.2;
    z-index: 10 !important;
    border: 2px solid white;
}

/* click */



.cardProjetoSelecionado{
    aspect-ratio: 2 / 2.4;

    position: absolute;
    
    translate: 0% -10%; 
    top: 0;
    right: 0;

    scale: 1 !important;
    z-index: 3 !important;
}

.cardProjetoSelecionado .corIdentificadoraProj{
    rotate: 0deg;
    width: 23%;
    height: 100%;
    top: 0;
    left: -10%;
}

.cardProjetoSelecionado .tituloCardProj{
    height: 19%;
    font-size: 3.1rem;
}

.cardProjetoSelecionado .boxIconesProj{
    height: 10%;
}

.cardProjetoSelecionado .textoProj{
    margin-bottom: 5%;
    height: fit-content;
    max-height: 35%;
}
/* 
.cardProjetoSelecionado .textoProj p{
    overflow-y: scroll;
} */

.projRefs{
    opacity: 0;

    /* melhorar isso depois do height */
    transition: 0.4s opacity ease, 0.4s height ease;

    height: 0;

    width: 87%;
    margin-left: 13%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.cardProjetoSelecionado .projRefs{
    opacity: 1;

    height: 32%;
}

.botaoProj{
    width: 70%;
    height: 44%;

    border-radius: 0.9rem;
    background-color: #232d35;

    overflow: hidden;

    display: flex;

    text-decoration: none !important;
}

.imagemProj{
    width: 27%;
    height: 100%;
    background-size: cover;
}

.githubProj{
    background-image: url(../src/github.jpg);
}

.siteProj{
    background-image: url(../src/site.png);

}

.btnTextoProj{
    color: azure;
    align-content: center;

    margin-left: 6%;
    font-size: 1.3rem;
}

.custom-shape-divider-bottom-1722643387 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1722643387 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 45px;
}

.custom-shape-divider-bottom-1722643387 .shape-fill {
    fill: #071A27;
}


/* formação acadêmica */

:root{
    --referencia-de-tamanho-fa: 1vw;
}

#formacaoAcademica{
    background-color: #071a27;
    display: flex;
    flex-direction: column;
    align-items: center;
/* 
    height: 220vh; */

    height: auto;
    padding-bottom: 12vh;
}

#formacaoAcademica h1{
    margin-top: 14vh;
    font-size: 8vmin;

    color: #ffffff;
}

#colegiosBox{
    gap: 20px;
    display: flex;
    margin-top: 7vh;
}

.colegio{
    /* height: 280px; */
    /* width: 300px; */
    /* width: 19.5vw; */

    width: calc(var(--referencia-de-tamanho-fa) * 19.5);
    aspect-ratio: 15/14;

    border-radius: 1rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background-color: #000000;
    color: #FFF;
    border: #b0b0b0 1px solid;
}

.fotoColegio{
    height: 40%;
    width: 100%;
    background-size: cover;

    flex-shrink: 0;
}

#imgCotuca{
    background-image: url(../src/cotuca.jpg);
}

#imgImaculada{
    background-image: url(../src/imaculada.png);
}

#imgPIC{
    background-image: url(../src/CicloBasico2.jpg);
    background-position-y: 66%;
}

.nomeColegio{
    /* font-size: xx-large; */
    /* font-size: 2.06vw; */
    font-size: calc(var(--referencia-de-tamanho-fa) * 2.06);

    margin-left: 4%;
    width: 90%;
}

.descricaoColegio{
    margin-left: 4%;
    width: 90%;

    /* font-size: 1.05vw; */
    font-size: calc(var(--referencia-de-tamanho-fa) * 1.05);

    height: 40%;
    overflow-y: auto;
}

#boxParticipacaoOlimpica{
    margin-top: 5vh;
    display: flex;
    gap: 5%;
    color: #FFF;
}

.cardMedalha{
    /* height: 280px; */
    /* width: 250px; */
    /* width: 16.3vw; */

    width: calc(var(--referencia-de-tamanho-fa) * 16.3);
    aspect-ratio: 25/31;

    border-radius: 1rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background-color: #000000;
    color: #FFF;
    border: #b0b0b0 1px solid;
}

/* melhorar responsibilidade das medalhas! */

.iconeMedalhaBox{
    height: 20%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;

    font-size: calc(var(--referencia-de-tamanho-fa) * 1.6);
    /* font-size: 4vmin; */
}

/* ou icone mesmo? */
#iconeMedalhaOuro{
    background-color: #bb9e00;
}

#iconeMedalhaPrata{
    background-color: #dadada;
}

#iconeMedalhaBronze{
    background-color: #86501b;
}

.numMedalha{
    width: 100%;
    text-align: center;

    font-size: calc(var(--referencia-de-tamanho-fa) * 3.25);
    /* font-size: 6.5vmin; */
}

.listaMedalhas{
    width: 100%;
    height: 57%;
/* corrigir height */

    display: flex;
    flex-direction: column;
    gap: 3%;

    overflow-x: hidden;
    overflow-y: auto;

/* resolver problema com a scrollbar */
    scrollbar-width: none;
    scrollbar-color: #888 transparent; /* thumb color, track color */

    /* ?? */
    align-items: center;
}

.listaMedalhas ::-webkit-scrollbar{
    background: none !important;
}

.listaMedalhas ::-webkit-scrollbar-track{
    box-shadow: none !important;
}

.itemListaMedalhas{
    /* padding-left: 5%; */
    font-size: calc(var(--referencia-de-tamanho-fa) * 1.05);
    /* falta responsibilidade de card de medalha */
}

.borderListaMedalhas{
    height: 1px;
    width: 50%; 
    /* 70 */
    background-color: #b0b0b0;
    align-self: center;
    flex-shrink: 0;
}

#boxCursos{
    margin-top: 5vh;
}


/* CONSERTAR: h1 margin top */


@media screen and (max-width: 1300px) {
    :root{
        --referencia-de-tamanho-fa: 1.2vw;
    }
}

@media screen and (max-width: 1000px) {
    :root{
        --referencia-de-tamanho-fa: 1.4vw;
    }
}

@media screen and (max-width: 870px) {
    :root{
        --referencia-de-tamanho-fa: 1.75vw;
    }
}

@media screen and (max-width: 750px) {
    :root{
        --referencia-de-tamanho-fa: 1.9vw;
    }

    #boxParticipacaoOlimpica{
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 540px) {
    :root{
        --referencia-de-tamanho-fa: 2.4vw;
    }

    #colegiosBox{
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 400px) {
    :root{
        --referencia-de-tamanho-fa: 3vw;
    }
}

@media screen and (max-width: 315px) {
    :root{
        --referencia-de-tamanho-fa: 4.4vw;
    }
}

@media screen and (max-width: 220px) {
    .descricaoColegio{
        font-size: calc(var(--referencia-de-tamanho-fa) * 1.6);
    }

    .nomeColegio{
        font-size: calc(var(--referencia-de-tamanho-fa) * 3.14);
    }

    .itemListaMedalhas{
        font-size: calc(var(--referencia-de-tamanho-fa) * 1.45);
        /* ajustar esse cálculo */
    }

    .iconeMedalhaBox{
        font-size: calc(var(--referencia-de-tamanho-fa) * 1.9);
    }
}

@media screen and (max-width: 125px) {
    .descricaoColegio, .itemListaMedalhas{
        font-size: calc(var(--referencia-de-tamanho-fa) * 1.9);
    }
    /* quebra de linha de medalhas corrigir */

    .colegio{
        aspect-ratio: 15/23;
    }
}



/* eventos */
/* 
#eventos{

} */


/* contato */


/* tamanho do card adaptável para caber dentro sempre */
/* problema é o padding e a margin, que não estão sendo levados em conta pela div
ver até qual largura de tela o texto estará vis */

#contato{
    background-color: #050b0f;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* height: 70vh; */
    height: auto;
    padding-bottom: 27vh;
}


#contato h1{
    margin-top: 14vh;
    font-size: 8vmin;

    color: #ffffff;
}

#contatosBOX{
    width: 80%;
    margin-top: 5vh;

    display: flex;
    gap: 1vh 2%;
    flex-wrap: wrap;
    justify-content: center;
}

.contatoCard{
    height: 58px;
    color: #FFF;

    background-color: #000000;
    border: 1px solid white;
    border-radius: 2rem;

    display: flex;
    overflow: hidden;

    align-items: center;

    /* padding-left: 2.5%;
    padding-right: 2.5% ; */
}

.contatoCard:hover{
    border: #002947 1px solid;
}

.iconeContato{
    height: 75%;
    padding-left: 2vw;
    /* margin-left: 10%;
    margin-right: 5%; */
}

.nomeContato{
    flex-shrink: 0;
    /* width: 9vw; */

    font-size: clamp(9px, 1.6vw, 2000px);

    padding-left: 0.5vw;
    padding-right: 2vw;
}

@media screen and (max-width: 315px) {
    .nomeContato{
        display: none;
    }

    .contatoCard{
        aspect-ratio: 1/1;
        justify-content: center;
    }

    .iconeContato{
        padding-left: 0vw;
        height: 70%;
    }
}



/* 
@media{
    texto some e fica só uma bolinha
} */

/* footer */

footer{
    position: relative;
}

/* #separadorFooter{
    height: 0;
    width: 0;
    position: relative; */
/* 
    overflow: hidden; */
/* } */

.custom-shape-divider-bottom-1 {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    z-index: 3;
}

.custom-shape-divider-bottom-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1 .shape-fill {
    fill: #001627;
}

/*  */

.custom-shape-divider-bottom-2 {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    z-index: 2;
}

.custom-shape-divider-bottom-2 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 140px;
}

.custom-shape-divider-bottom-2 .shape-fill {
    fill: #002947;
}

/*  */

.custom-shape-divider-bottom-3 {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    z-index: 1;
    top: 10%;
}

.custom-shape-divider-bottom-3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
    transform: rotateY(180deg);
    top: 10%;
}

.custom-shape-divider-bottom-3 .shape-fill {
    fill: #000f1a;
}





#contentFooter{
    padding-bottom: 1%;
    
    width: 100vw;
    background-color: #001627;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#assinatura {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3.5vmin;
    font-weight: bold;
    letter-spacing: 0.6vw;
}

#informativoFooter{
    width: 80%;
    text-align: center;
    color: white;
    font-size: 1.9vmin;
} #informativoFooter a{
    color: white;
}

#conclusao{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3.5vmin;
    font-weight: bold;

}



@media screen and (max-width: 300px){
}


/* width / min-width / max-width: The width of the viewport.
height / min-height / max-height: The height of the viewport.
orientation: The orientation of the device (landscape or portrait).
aspect-ratio / min-aspect-ratio / max-aspect-ratio: The aspect ratio of the device.
resolution / min-resolution / max-resolution: The resolution of the device. */